/* https://stackoverflow.com/a/7025783/8094047 */
html * {
    color: #000 !important;
    font-family: Arial !important;
    /* font-weight: lighter !important; */
}

/* body { */
/* margin-left: 10em; */
/* margin-right: 10em; */
/* width: 8em */
/* } */

pre {
    display: block;
    white-space: pre-wrap;
    /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
}

code {
    font-size: 105%;
    padding: 2pt;
    display: block;
    background-color: #f1f1f1;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif !important;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10pt;
    margin-bottom: 10pt;
    width: 50%;
}